@font-face 
{
    font-family: "Leky Calgria";
    
    src: url("Fonts/Leky Calgria.woff") format("opentype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("Fonts/Montserrat-Regular.woff") format("opentype");
}



h1
{
    font-family: 'Leky Calgria', Arial, sans-serif;;
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%);
    color: #1d1d1f;


}

h2
{
    font-family: 'Leky Calgria', Arial, sans-serif;;
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    transform: translate(-120%,30%);
    top: 20%;
    left: 40%;
    position: absolute;
    text-align: center;
    color: #1d1d1f;
   
 
}



*
{
    margin: 0;
    padding: 0; 
}

a 
{
    text-decoration: none;
    font-family: 'Montserrat-Regular',Arial, sans-serif;
    font-weight: normal;
    color: #1d1d1f;
    text-transform: capitalize;

}
h3
 {
    font-family: 'Montserrat-Regular',Arial, sans-serif;
    font-weight: normal;
    color: #1d1d1f;
    text-align: center;
    position: relative;
    top: 2%;
    left: 0%;
    transform: translateY(-30%);
   
    
 }


h4
{
    font-family: 'Leky Calgria', Arial, sans-serif;;
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    position: relative;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%,330%);
    color: #1d1d1f;
}
 



 p
{
    text-align: center;
    text-indent: 0px;
}

li 
{
    list-style-type: none;
}

html
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0; 
}

body
{
    background-color: #f0ece8;
    font-size: 100%;
    font-family: 'Montserrat-Regular';
    overflow-x: hidden;

}




img {
    width: 20%;
    height: auto;
  }


  hr
  {
      width: 30px;
      height: 3px;
      border: 0;
      margin: 0 auto 40px auto;
  }
  
  header
  { 
      width: 100%;
      height: 65px;
      
      top: 0;
      left: 0;
      background-color: #f0ece8;
      z-index: 999;
      position: fixed;
     
      justify-content: space-between;
      
     
  }




#logo
{
    width: 70px;
    float: left;
    margin: 10px 0 0 50px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -MOZ-transition: all 300ms;
    -webkit-transition: all 300ms;

}

 #logo:hover
 {
    opacity: 0.5;
 }

 #logo img
 {
    width: 100%;
 }

header nav 
{
    float: right;
    align-items: center;
    align-content: space-evenly;
    
    padding: 20px 60px;

}

header nav ul li
{
    float: left;
    margin-right: 25px;
    transform: translate(50%, 50%);

   
   
}

header nav ul li a
{
    font-size: 20px;
    color: #1d1d1f;
    text-decoration: none;
    

    
}

b {
    font-weight: bold;
  }
 
 
 





* {
    box-sizing: border-box;
  }
  
  body {

    background-color: #f0ece8;
    font-size: 100%;
    font-family: 'Montserrat-Regular';
    padding: 20px;
  
  }
  
  .container p
{

    font-family: 'Montserrat-Regular', Arial, sans-serif;;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #1d1d1f;
    transform: translate(50%,220%);
    top: 0%;
    left: 50%;
    
    text-align: justify;
    align-items: center;
    text-indent: 0px;
    display: flex;
    width: 50%;
    padding: 30px;
   
  margin: 0 0 20px;
    line-height: normal;
}
   

  

  
  
  